.main {
    width: 100%;
    height: calc(100vh - 150px);
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../pictures/fruit.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

